.Meal{
    padding: 70px 0px;
    display: flex;
    position: relative;
    &__img{
        position: relative;
        width: 500px;
        img{
            border: 1px solid #ccc;
            padding: 7px;
            border-radius: 0 20px 0 20px;
            object-fit: cover;
            height: 500px;
        }
        button{
            cursor: pointer;
            position: absolute;
            bottom: 30px;
            right: 8px;
            width: 100px;
            border: none;
            padding: 5px;
            background-color: rgba(134, 134, 134, 0.842);
            color: #fff;
            &:hover{
                background-color: rgb(157, 238, 124);
            }
        }
        h1{
            position: absolute;
            top: 30px;
            left: 8px;
            padding: 8px;
            font-size: 30px;
            font-weight: normal;
            color: #fff;
            border-radius: 0 0 20px 0;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    &__body{
        padding-top: 10px;
        p{
            text-align: justify;
            height: 375px;
            white-space: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        padding-left: 20px;
        h2{
            color: rgb(133, 214, 133);
            line-height: 22px;
            padding-bottom: 10px;
        }
        h3{
            color: rgb(133, 214, 133);
            a{
                color: rgb(190, 155, 223);
            }
        }
        h5{
            color: rgb(15, 15, 15);
            a{
                color: red;
            }
        }

    }
    button{
        position: absolute;
        right: 0;
        width: 50px;
        border: 1px solid purple;
        background-color: transparent;
        height: 25px;
        color: purple;
        transition: all 22ms ease-in;
        &:hover{
            background-color: purple;
            color: #fff;
        }
    }
    @media(max-width: 768px){
        flex-direction:column;
        margin: 0 auto;
        padding: 0;
        &__img{
            width: 350px;
            img{
                width: 100%;
                height: 400px;
            }
        }
        button{
            background: purple;
            color: #fff;
            right: 12px;
            top: 360px;
        }
    }
}